<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout-admin}">
<head>
<title>Trang Danh Sách Sản Phẩm</title>
</head>
<body>
	<div layout:fragment="content">
		<div class="container pb-5">
			<div class="row">
				<div class="col-md-2"></div>
				<div class = "col-md-10">
					<h2 class="my-5 text-center">Danh Sách Sản Phẩm</h2>
					<a sec:authorize="hasAnyRole('ADMIN','MANAGER')" class="btn btn-outline-success fw-bold mb-3" th:href="@{/admin/addFood}" role="button">Thêm Sản Phẩm</a>
					<table class="table table-secondary table-striped-columns">
						<thead>
							<tr>								
								<th>
									<a th:href="@{/admin/foods?(page=${currentPage},sortField='foodCode',sortDir=${reverseSortDir})}" style="text-decoration: none">Mã Sản Phẩm</a>
								</th>
								<th>
									<a th:href="@{/admin/foods?(page=${currentPage},sortField='category.name',sortDir=${reverseSortDir})}" style="text-decoration: none">Danh Mục</a>
								</th>
								<th>
									<a th:href="@{/admin/foods?(page=${currentPage},sortField='name',sortDir=${reverseSortDir})}" style="text-decoration: none">Tên Sản Phẩm</a>
								</th>
								<th>
									<a th:href="@{/admin/foods?(page=${currentPage},sortField='quantity',sortDir=${reverseSortDir})}" style="text-decoration: none">Số Lượng</a>
								</th> 
								<th>
									<a th:href="@{/admin/foods?(page=${currentPage},sortField='price',sortDir=${reverseSortDir})}" style="text-decoration: none">Giá</a>
								</th>								
								<th sec:authorize="hasAnyRole('ADMIN','MANAGER')">Lựa Chọn</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="food: ${foods}">
								<td><a th:href="@{/admin/viewFood?(foodId=${food.id})}" style="text-decoration: none" th:text="${food.code}"></a></td>
								<td th:text="${food.category.name}"></td>								
								<td th:text="${food.name}"></td>
								<td th:text="${food.quantity}"></td>
								<td th:text="${#numbers.formatInteger(food.price,3,'POINT')}+' đ'"></td>								
								<td sec:authorize="hasAnyRole('ADMIN','MANAGER')">
								<a class="btn btn-outline-primary" th:href="@{/admin/editFood?(foodId=${food.id})}" role="button">Sửa</a>
								<button type="button" class="btn btn-outline-danger" 
										data-bs-toggle="modal" 
										th:attr="data-bs-target=${'#deleteConfirmModal'+food.id}">Xóa
								</button>
								
									<div class="modal fade" th:attr="id=${'deleteConfirmModal'+food.id}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
									  <div class="modal-dialog">
									    <div class="modal-content">
									      <div class="modal-header">
									        <h5 class="modal-title" id="exampleModalLabel">Xóa Sản Phẩm</h5>
									        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
									      </div>
									      <div class="modal-body">
									        Xác nhận xóa sản phẩm?
									      </div>
									      <div class="modal-footer">
									        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
									        <a class="btn btn-danger" th:href="@{/admin/deleteFood?(foodId=${food.id})}" role="button">Xóa</a>
									      </div>
									    </div>
									  </div>
									</div>
								</td>								
							</tr>
						</tbody>
					</table>
					
					<nav aria-label="Page navigation example" style="display:flex ;justify-content: center;">
					  <ul class="pagination">
					  
					    <li th:if="${currentPage > 1}" class="page-item">
					    	<a class="page-link" th:href="@{/admin/foods?(page=${currentPage-1},sortField=${sortField},sortDir=${sortDir})}">Trang trước</a>
					    </li>
					    <li th:if="${currentPage <= 1}" class="page-item disabled">
					    	<a class="page-link" href="#">Trang trước</a>
					    </li>					    
					   					    
					    <li th:each="i: ${#numbers.sequence(1, totalPages)}" class="page-item">
					    	<a class="page-link" th:text=${i} th:href="@{/admin/foods?(page=${i},sortField=${sortField},sortDir=${sortDir})}">1</a>
					    </li>
					    
					    <li th:if="${currentPage < totalPages}" class="page-item">
					    	<a class="page-link" th:href="@{/admin/foods?(page=${currentPage+1},sortField=${sortField},sortDir=${sortDir})}">Trang sau</a>
					    </li>
					    <li th:if="${currentPage >=  totalPages}" class="page-item disabled">
					    	<a class="page-link" href="#">Trang sau</a>
					    </li>
					  </ul>
					</nav>
				</div>
			</div>
		</div>
	</div>
</body>
</html>