<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout-admin}">
<head>
<title>Trang Chi Tiết Đơn Hàng</title>
</head>
<body>
	<div layout:fragment="content">
		<div class="container pt-5">
			<div class="row">
				<div class="col-md-2"></div>
				<div class="col-md-10">
					<div class="row pt-5" style="display: flex; justify-content: center;">
						<div class="card">
							<div class="card-body">
								<h3 class="card-title fw-bold">Thông Tin Khách Hàng</h3>

								<div class="row pt-2">
									<div class="col-md-4 card-subtitle text-muted fw-bold">Họ Tên:</div>
									<div class="col-md-8"
										th:text="${customer.lastName}+' '+${customer.firstName}"></div>
								</div>

								<div class="row pt-2">
									<div class="col-md-4 card-subtitle text-muted fw-bold">Số Điện Thoại:</div>
									<div class="col-md-8" th:text="${customer.phoneNumber}"></div>
								</div>

								<div class="row pt-2">
									<div class="col-md-4 card-subtitle text-muted fw-bold">Email:</div>
									<div class="col-md-8" th:text="${customer.email}"></div>
								</div>
							</div>							
						</div>

						<div class="card mt-5">
							<div class="card-body">
								<h3 class="card-title fw-bold">Thông Tin Giao Hàng</h3>

								<div class="row pt-2">
									<div class="col-md-5 card-subtitle text-muted fw-bold">Số nhà, tên đường:</div>
									<div class="col-md-7" th:text="${customer.address}"></div>
								</div>
								
								<div class="row pt-2">
									<div class="col-md-5 card-subtitle text-muted fw-bold">Phường, xã:</div>
									<div class="col-md-7" th:text="${customer.ward}"></div>
								</div>

								<div class="row pt-2">
									<div class="col-md-5 card-subtitle text-muted fw-bold">Quận, huyện:</div>
									<div class="col-md-7" th:text="${customer.district}"></div>
								</div>

								<div class="row pt-2">
									<div class="col-md-5 card-subtitle text-muted fw-bold">Thành phố, tỉnh:</div>
									<div class="col-md-7" th:text="${customer.city}"></div>
								</div>
							</div>
						</div>
						<a th:href="@{/admin/customers}" class="btn btn-outline-secondary mt-3" style="width: 100px">Quay lại</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
